# 本文件提供了测试单元测试环境参数
#   cp test/env.sample.yaml env.yaml
#
# 注意空格缩进 和 冒号后面的空格
# web 模式测试
webmode:
    protocol: http
    host: localhost
    port: 80

mysql:
    general: &right_user
        user: root
        passwd: asdqwe123_ZXC
        host: 127.0.0.1
        port: 3306
        charset: UTF8
        dsn: ~

    wrong: &wrong_user
        user: thisisinvalidusername
        passwd: thisisinvalidpasswd
        host: 127.0.0.1
        port: 3306
        charset: UTF8
        dsn: ~
    right: &mysql_connection
        name: test_master
        <<: *right_user
dao:
    db:
        name: test_master
        <<: *right_user
    master:
        name: test_master
        <<: *right_user
    slave1:
        name: test_slave1
        <<: *right_user
# 以下是sharin\core类的初始化参数
driphp\core\database\Dao:
    drivers:
        master:
            name: driphp\core\database\driver\MySQL
            config:
                name: test_master
                <<: *right_user
        slave:
            name: driphp\core\database\driver\MySQL
            config:
                name: test_slave1
                <<: *right_user
        wrong_user:
            name: driphp\core\database\driver\MySQL
            config:
                name: test_master
                <<: *wrong_user
        wrong_dbname:
            name: driphp\core\database\driver\MySQL
            config:
                name: test_db_not_found
                <<: *right_user

driphp\library\client\Mongo:
    user: linzh
    password: a1236547890
    host: 192.168.200.100
    port: 27017
    database: default
    collection: default
    timeout: 10000